.glass-panel {
    color: #fff;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
    max-width: 1300px;
}

.glass-p2 {
    color: #fff;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    width: max-content;
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(10px);
    max-width: 500px;
}

.glass-button {
    display: inline-block;
    padding: 24px 32px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px;
}

.glass-button:hover {
    background-color: rgba(255,255,255,0.2);
}

/* Extra styles for demo */
/* Article:  https://superdevresources.com/glassmorphism-ui-css/ */
body {
    background: url(https://browsecat.net/sites/default/files/human-resources-wallpapers-110248-1158039-2946031.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1, h1 a {
    min-height: 120px;
    width: 90%;
    max-width: 700px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    padding-top: 30px;
    color: rgba(255,255,255,0.8);
}

p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 32px;
    color: rgba(255,255,255,0.6);
}