<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>My Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/css/glass.css}" rel="stylesheet" />
</head>
<body>
<div class="glass-panel">
    <h1><a href="http://localhost:8090">Recursos Humanos MueblesStgo</a></h1>
    <p>Calculo automatico de planillas</p>
    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
    <div class="glass-p2">
        <form method="POST" th:action="@{/calcularplanilla}">
        <div>
            <button type="submit" class="glass-button">Calcular plantilla</button>
        </div>
        </form>
        <div>
            <a class="glass-button" href="/mplanilla" role="button">Mostrar planilla</a>
        </div>
        <div>
            <a class="glass-button" href="/index" role="button">Volver</a>
        </div>
    </div>
</div>
</body>
</html>