<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/css/glass.css}" rel="stylesheet" />
</head>
<body>
<div class="glass-panel">
    <p>Información de la planilla de sueldos.</p>
    <table class="table">
        <div class="glass-toolbar">
            <thead style="color: rgba(255,255,255,0.6)">
                <tr >
                    <th>Rut</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Categoria</th>
                    <th>Fecha de Ingreso</th>
                </tr>
            </thead>
            <tbody style="color: rgba(255,255,255,0.6)">
                <tr th:each="empleado:${empleados}">
                    <td th:text="${empleado.rut}"></td>
                    <td th:text="${empleado.nombres}"></td>
                    <td th:text="${empleado.apellidos}"></td>
                    <td th:text="${empleado.fechaDeNacimiento}"></td>
                    <td th:text="${empleado.categoria}"></td>
                    <td th:text="${empleado.fechaDeIngreso}"></td>
                </tr>
            </tbody>
        </div>

    </table>
    <a class="glass-button" href="/index" role="button">volver</a>
</div>
</body>
</html>