<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/css/glass.css}" rel="stylesheet" />
</head>
<body>
<div class="glass-panel">
    <h1><a href="http://localhost:8090">Recursos Humanos MueblesStgo</a></h1>
    <p>Información de la planilla de sueldos.</p>
    <p th:text="${message}" th:if="${message ne null}" class="alert alert-danger"></p>
    <div class="glass-p2" style="float:left">
        <a class="glass-button" href="/cplanilla" role="button">Calcular planilla</a>
    </div>
    <div class="glass-p2" style="float:right; text-align: right;">
        <a class="glass-button" href="/index" role="button">volver</a>
    </div>
    <div class="glass-toolbar" style="font-size: 11px;">
    <table class="table">

            <thead style="color: rgba(255,255,255,0.6)">
                <tr >
                    <th>Rut</th>
                    <th>Apellidos y Nombres</th>
                    <th>Categoria</th>
                    <th>Años en la empresa</th>
                    <th>Sueldo Fijo</th>
                    <th>Bonificaciones</th>
                    <th>Horas Extras</th>
                    <th>Descuentos</th>
                    <th>Sueldo Bruto</th>
                    <th>Cotización Previsional</th>
                    <th>Cotización Salud</th>
                    <th>Sueldo final</th>
                </tr>
            </thead>
            <tbody style="color: rgba(255,255,255,0.6)">
                <tr th:each="pla:${planilla}">
                    <td th:text="${pla.rut}"></td>
                    <td th:text="${pla.apellidosNombres}"></td>
                    <td th:text="${pla.categoria}"></td>
                    <td th:text="${pla.aniosEnEmpresa}"></td>
                    <td th:text="${pla.sueldoFijo}"></td>
                    <td th:text="${pla.bonificacionServicios}"></td>
                    <td th:text="${pla.horasExtras}"></td>
                    <td th:text="${pla.Descuentos}"></td>
                    <td th:text="${pla.sueldoBruto}"></td>
                    <td th:text="${pla.cotizacionPrevisional}"></td>
                    <td th:text="${pla.cotizacionSalud}"></td>
                    <td th:text="${pla.sueldoFinal}"></td>

                </tr>
            </tbody>

    </table>
    </div>


</div>
</body>
</html>